.dot {
    position: relative;
    background-image: radial-gradient(#625757 3%, #332F2F 15%);
    background-position: 0 0;
    background-size: 20px 20px;
    height: 450px;
    max-width: 100%;
    margin: auto;
    padding-top: 50px;


    &__row {
        margin: auto;
        width: 50%;
        height: 350px;
        display: flex;  
        color: white;
        
        
        &--left {
            width: 100%;
            height: auto;
            background:url("../../../dist/assets/gradient.png");
            padding-top: 50px;
            &--h2 {
                text-align: left;
                margin: auto;
                max-width: 75%;
            }
            &--p {
                margin: auto;
                max-width: 75%;
                font-size: 10px;
                padding-top: 20px;
                line-height: 1.4;
            }    
            &--img {
                position: relative;
                width: 70px !important;
                padding-bottom: 100px !important;
                margin-top: 25px !important;
                left: 12% !important;
            }
            
        }
        &--right{
            width: 100%;
            height: auto;
            // background: url("../assets/blackman.JPG");
            // background-size: cover;
            // background-repeat: no-repeat;
            &--img {
                left: 0 !important;
                margin-top: 0 !important;
                width: 100%;
                height: -webkit-fill-available;
            }
            
        }
    }
  }
  .column {
    display: flex;
    width: 100%;
    padding: 10px;
    height: auto;
}
  
@media (max-width : 768px){
    .column{
        display: grid;
    }
    .dot{
        padding-bottom: 50px;
    height: auto;
    &__row{
        width: 60%;
        height: auto;
        &--left {
            height: max-content;
        }
        &--right {
            height: auto !important;
            &--img {
                height: auto !important;
            }
        }
    }
    }
}

@media (max-width : 425px) {
    .dot {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        &__row {
            width: 90%;
        }
    }
}