.dot
    .dot__row
        .column
            .dot__row--left
                h2.dot__row--left--h2 Benny<br>Benny
                p.dot__row--left--p Duis dignissim mi ut laoreet mollis. Nunc id tellus finibus, eleifend mi vel , maximus justo. Lorem ipsum dolor sit  amet es omnia. Duis dignissim mi ut laoreet mollis.
                img.dot__row--left--img(src="", alt="")
            .dot__row--right
                img.dot__row--right--img(src="../assets/blackman.JPG", alt="")

