.modal-content iframe{
    margin: 0 auto;
    display: block;
}

.popup {
    min-height: 180px;
    max-width: 100%;
    margin: auto;
    background: #ecebe9;
    &__ul {
        padding-top: 40px;
        display: flex;
        max-width: 70%;
        margin: auto;
        list-style-type: none;
        li {
            max-width: 24%;
            margin: auto;
        }
        &--h3 {
            margin-left: 20px;
            text-align: center;
            font-size: 22px;
            max-width: 100%;
            font-weight: 700;
        }
        &--playbtn{
            padding: 5px 13px;
            font-size: 2rem;
            border: 2px solid;
            border-radius: 50%;
        }
        &--btn{
            padding: 15px;
            background: none;
            border: none;
            outline: none!important;
        }
        &--p {
            max-width: 400px;
            font-size: 10px;
            line-height: 1.6;
        }
    }
}
.modal-title {
    position: absolute;
}
@media (max-width : 692px) {
    .popup__ul {
        display: block;
        padding-left: 0;
        padding-bottom: 20px;
        li {
            max-width: 90%;
        }
        &--h3 {
            font-size: 15px;
            text-align: left;
            margin-left: 0;
        }
        &--p {
            font-size: 8px;
        }
    }
}
