section.popup
    ul.popup__ul  
        li
            h3.popup__ul--h3 Watch the video presentation
        li(style="margin: 0")
            .bs-example
                // Button HTML (to Trigger Modal)
                button.popup__ul--btn(type='button' data-toggle='modal' data-target='#myModal' data-src="https://www.youtube.com/embed/7qrRzNidzIc")
                    span.popup__ul--playbtn &#9656;
                // Modal HTML
                #myModal.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                                h4.modal-title YouTube Video
                            .modal-body
                                iframe#cartoonVideo(width="100%" height="315" src="" allow="autoplay" allowscriptaccess="always")
                            
        li
            p.popup__ul--p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
