section.solutions 
    h2.solutions--h2 Solid and usable solutions for home and business architecture
    ul.solutions--ul 
        li.solutions--ul--li 
            span
                img.solutions--ul--img(src="../../../dist/assets/mouseptr.jpg", alt="")
                p.solutions--ul--p Ut ultricies imperdiet sodales. Lorem ipsum dolor.
            span
                img.solutions--ul--img(src="../../../dist/assets/hourglass.jpg", alt="")
                p.solutions--ul--p Fusce ut velit laoreet, tempus arcu, molestie tortor.
            span
                img.solutions--ul--img(src="../../../dist/assets/mouseptr2.jpg", alt="")
                p.solutions--ul--p Mauris maximus velit commodo. Lorem ipsum dolor.