.solutions {
    background: #ECEBE9;
    margin: auto;
    max-width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 10%;
    &--h2 {
        font-weight: 700;
        color: rgb(44, 40, 35);
        text-align: center;
        margin: auto;
        max-width: 28%;
        margin-bottom: 5%;
    }
    &--ul {
        list-style-type: none;
        &--li {
            margin: auto;
            display: flex;
            text-align: center;
            max-width: 58%;
        }
        &--img {
            width: 30%;            
        }
        &--p {
            font-size: 13px;
            max-width: 72%;
            padding-top: 10%;
            margin: auto;
        }
    }
}
@media (max-width : 1024px) {
    .solutions--h2 {
        max-width: 43%;
    }
}
@media (max-width : 768px) {
    .solutions--h2 {
        max-width:58%;
    }
}
@media (max-width : 425px) {
    .solutions--h2 {
        font-size: 27px;
        max-width: 88%;
    }
    .solutions--ul {
        &--li {
            display: block;
        }
        &--p {
            margin-bottom: 50px;
        }
    }
}