meta(name='viewport' content='width=device-width, initial-scale=1.0')
//- .overlay
.all
  .header
    .navbar
      input#check(type='checkbox')
      a(href='#', style="z-index: 3")
        h1
          span(style="font-size:35px") T
          span(style="font-size:20px") he<br>
          span(style="font-size:45px") A
          span(style="font-size:35px") rchitect
      .menu-btn
        label(for='check')
          span
          span
          span
      .menu-item
        a(href='#') Home
        a(href='#') Projects
        a(href='#') Details
        a(href='#') Story
        a(href='#') Contact
        a(href='#') Buy now
    //- h1 A fresh vision<br>for living spaces
    
  
