.bs-example{
    margin: 20px;
    border: 2px solid #333;
    border-radius: 27px;
    padding: 8px;
    width: 53px;
}
.modal-content iframe{
    margin: 0 auto;
    display: block;
}

.popup {
    min-height: 140px;
    max-width: 100%;
    margin: auto;
    background: #f1f1f1;
    &__ul {
        padding-top: 20px;
        display: flex;
        max-width: 70%;
        margin: auto;
        list-style-type: none;
        li {
            max-width: 24%;
            margin: auto;
        }
        &--h3 {
            margin-left: 20px;
            text-align: center;
            font-size: 22px;
            max-width: 100%;
            font-weight: 700;
        }
        &--btn {
            font-size: 24px;
            padding-left: 7px;
            border-radius: 64px;
            color: black;
            &:hover {
                text-decoration: none;
                color: black;
            }
        }
        &--p {
            max-width: 400px;
            font-size: 10px;
            line-height: 1.6;
        }
    }
}
.modal-title {
    position: absolute;
}
@media (max-width : 692px) {
    .popup__ul {
        display: block;
        padding-left: 0;
        padding-bottom: 20px;
        li {
            max-width: 90%;
        }
        &--h3 {
            font-size: 15px;
            text-align: left;
        }
        &--p {
            font-size: 8px;
        }
    }
}