#carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators 
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0', data-interval='1000')
            a(href="#") 01
        li(data-target='#carouselExampleIndicators', data-slide-to='1', data-interval='1000')
            a(href="#") 02
        li(data-target='#carouselExampleIndicators', data-slide-to='2', data-interval='1000')
            a(href="#") 03
            
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src='https://i0.wp.com/www.whatsuplife.in/noida/blog/wp-content/uploads/2018/11/home-decor.jpg?fit=1920%2C1080&ssl=1', alt='...', value="0")
        .carousel-item
            img.d-block.w-100(src='https://freshome.com/wp-content/uploads/2018/07/modsy-shop.jpg', alt='...', value="1")
        .carousel-item
            img.d-block.w-100(src='https://media.architecturaldigest.in/wp-content/uploads/2019/05/summer-home-decor-featured-image.jpg', alt='...', value="2")
    //- a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
    //-     span.carousel-control-prev-icon(aria-hidden='true')
    //-     span.sr-only Previous
    //- a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
    //-     span.carousel-control-next-icon(aria-hidden='true')
    //-     span.sr-only Next