.carousel-indicators 
{
    position: relative;
    top: 430px;
    margin-left: 5%;
    margin-right: 0;
    width: 370px;
    z-index: 13;
    li{
        color: #ffffff;
        opacity: 1;
        font-size: 20px;
        text-indent:0;
        width:50px;
        height: 40px;
        border:none;
        background-color: transparent;
        
        
        a {
            color: #ffffff;
            font-size: 12px;
            padding-bottom: 7px;
            &:hover {
                // border-bottom: 1px solid #ffffff;
                text-decoration: none;
                background: transparent;
            }
        }
        
    }
    .active {
        a {
            color: #ffffff;
            font-weight: bold;  
            border-bottom: 1px solid #ffffff;          
        } 
    }
   
}
.whiteline {
    border-bottom: 1px solid #ffffff;
    bottom: 90px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 150px;
}
.portfolio {
    letter-spacing: 3px;
    color: #ffffff;
    bottom: 75px;
    right: 100px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.carousel {
    height: 550px;
}
.carousel-inner {
    position: absolute;
    top: 0;
    img {
        margin-top: 0 !important;
        height: 550px;
        left: 0 !important;
    }
    h1 {
        letter-spacing: 0.5px;
        position: relative;
        z-index: 1;
        bottom: 320px;
        max-width: 35%;
        line-height: 1;
        font-weight: 600;
        left: 170px;
    }
}
@media (max-width : 425px) {
    .carousel-item {
        display: contents !important;
    }
    .carousel-inner {
        position: relative;
        img {
            height: auto;
        }
    }
    .carousel-indicators {
        display: none !important;
    }
    .carousel {
        height: auto;
    }
}
