#carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators 
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0', data-interval='1000')
            a(href="#") 01
        li(data-target='#carouselExampleIndicators', data-slide-to='1', data-interval='1000')
            a(href="#") 02
        li(data-target='#carouselExampleIndicators', data-slide-to='2', data-interval='1000')
            a(href="#") 03
            
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src='https://www.dsigners.net/wp-content/uploads/2019/08/7cd0b1f841c61d27a17ce38c7b8a5d6c.jpg', alt='...', value="0")
        .carousel-item
            img.d-block.w-100(src='https://i.redd.it/qd4r2kudr7k01.png', alt='...', value="1")
        .carousel-item
            img.d-block.w-100(src='https://cdna.artstation.com/p/assets/images/images/015/614/242/large/dark-zyros-homeinterior.jpg?1548967004', alt='...', value="2")
    
        hr.whiteline 
        .portfolio 
            p SEE OUR P
                Span(style= "border-bottom : 2px solid #ffffff; padding-bottom :10px") ORTFOLIO