.container
    .footer 
        ul.footer--ul
            .footer__list
                h6 Find us here
                span.footer__list--icons 
                    a(href="") 
                        img(src="../../../dist/assets/fb.png", alt="")
                    a(href="")
                        img(src="../../../dist/assets/google.png", alt="")
                    a(href="") 
                        img(src="../../../dist/assets/twitter.png", alt="")
                    a(href="")
                        img(src="../../../dist/assets/linkedin.png", alt="")
            .footer__list
                h6 Contact with us
                p Nullam viverra consectetuer quisque cursus et, porttitor risus
                p +61 (0) 3 8376 6284 noreply@cursus.com
            .footer__list
                h6 Localization
                p Nullam<br>Level 13,2 Elizabeth<br>victoria 3000<br>Australia
        