.grid-container {
    display: grid;
    grid: 250px / auto auto auto;
    grid-gap: 10px;
    background-color: #e5e5e5;
    padding: 10px;
  }

  @media (max-width: 470px) {
      .footer-list__icons {
          display: grid;
      }
  }