.imagegrid
  h3.imagegrid--h3 Our realizations
  .grid-container
    .area1
      img(src="../assets/gridimg1.jpg", alt="")
    .area2
      img(src="../assets/gridimg2.jpg", alt="")
    .area3
      img(src="../assets/gridimg3.jpg", alt="")
    .area4
      img(src="../assets/gridimg4.jpg", alt="")
    .area6
      img(src="../assets/gridimg6.jpg", alt="")
    .area7
      img(src="../assets/gridimg7.jpg", alt="")
    .area5
      img(src="../assets/gridimg5.jpg", alt="")
    
  a.imagegrid--a(href="") Check out more projects
