.imagegrid
  h3.imagegrid--h3 Our realizations
  .grid-container
    .area1
      img(src="../../../dist/assets/gridimg1.jpg", alt="")
    .area2
      img(src="../../../dist/assets/gridimg2.jpg", alt="")
    .area3
      img(src="../../../dist/assets/gridimg3.jpg", alt="")
    .area4
      img(src="../../../dist/assets/gridimg4.jpg", alt="")
    .area6
      img(src="../../../dist/assets/gridimg6.jpg", alt="")
    .area7
      img(src="../../../dist/assets/gridimg7.jpg", alt="")
    .area5
      img(src="../../../dist/assets/gridimg5.jpg", alt="")
    
  .forpad(style="padding-bottom : 90px")
    a.imagegrid--a(href="") Check out more projects
