.vision
    .row
        .vision__left.col-lg
            h2.vision__left--h2 Let's sit down and talk about your vision
            a.vision__left--a(href="") Contact with us
        .vision__right.col-lg
            img.vision__right--img(src="../../../dist/assets/drawing.JPG", alt="")