.vision
    .row
        .vision__left.col-md
            h2.vision__left--h2 Let's sit down and talk about your vision
            a.vision__left--a(href="") Contact with us
        .vision__right.col-md
            img.vision__right--img(src="../assets/drawing.JPG", alt="")