.vision {
    // display: flex;
    margin: auto;
    max-width: 100%;
    height: auto;

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &__left {
        // height: inherit;
        color: #F0F0EE;
        background-image: radial-gradient(#a2a7a7 0%, #666666 8%);
        background-position: 0 0;
        background-size: 20px 20px;
        padding-right: 0 !important;
        &--h2 {
            color: #f1f1f1;
            text-align: left;
            font-size: 28px;
            font-weight: 700;
            max-width: 33%;
            margin: auto;
            margin-top: 14%;
            margin-bottom: 10%;
        }
        &--a {
            font-size: 9px;
            color: #f1f1f1;
            position: relative;
            left: 34%;
            text-decoration: underline;
        }
    }
    &__right {
        padding: 0 !important;
        // height: inherit;
        &--img {
            max-width: 100%;
            padding-bottom: 45px;
        }
    }

}

@media (max-width: 1024px) {
    .vision__left {
        height: auto;
    }
    .vision__right {
        padding-right: 0 !important;
    }
}
@media (max-width: 991px) {
    .vision__left {
        height: auto;
        padding-bottom: 100px;
    }
    .vision__right {
        padding-right: 0 !important;
        &--img {
            padding: 0;
        }
    }
}
@media (max-width: 425px) {
    .vision__left {
        &--h2 {
            max-width: 75%;
        }
        &--a {
            left: 13%;
        }
    }
}