extends ../../layouts/homeLayout.pug

block title
    title Architect page

block bodyContent
    //- include ../../components/navbar/navbar.pug
    //- include ../../components/carousel/carousel.pug
    //- include ../../components/article-grid/dot-bg.pug
    include ../../components/solutions/solutions.pug
    //- include ../../components/imagegrid/imagegrid.pug
    //- include ../../components/videopopup/videolink.pug
    //- include ../../components/vision/vision.pug
    //- .scs(style= "height: 1000px")
    
